// Append a pseudo-element after the element to clear floats
@mixin clearfix {
    &::after {
        // Need to have empty content or else pseudo-element will not appear on the page but with no text 
        content: "";
        display: table;
        clear: both;
    }
}


// MEDIA QUERY MANAGER

/* 
0-600px:       Phone
600-900px:     Tablet portrait
900-1200px:     Tablet landscape
1200-1800px:    where our normal styles are applied
1800+px:        Big desktop

ORDER of adjustments: [ Base + typography > general layout + grid ] > page layout > components

*/

@mixin respond($breakpoint) {
    // We use em because rem fails to work in some browsers
    // And these media queries are not affected by user changing default font size

    // only screen applies to screen only - so doesn't apply to printed page, for example
    
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    // 600px/16px default font size = 37.5em
    }

    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) { @content };     // 900px
    }

    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) { @content };       // 1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    // 1800px
    }
}