/* Specify keyframes at each moment of time - 0%, 80%, 100% */
/* Best practice to only animate 2 properties - browsers already optimized for opacity and transform */

@keyframes moveInLeft {
    /* Before moving in */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(3rem);
    }

    /* After animation */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* Before moving in */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-3rem);
    }

    /* After animation */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    /* Before moving in */
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    /* After animation */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
