*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Root font-size - This defines what 1rem is */
    /* The default browser size is 16px */
    /* To get 10px, take 10/16 = 0.625 */
    /* A percentage allows user to zoom */

    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}